<!-- <h4 class = "text-center styling">PLACEHOLDER FOR THE HEADER</h4> -->

<div class = "navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href = "https://www.christophersoltis.net" class = "navbar-brand">Recipe Book</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class = "navbar-nav nav">
        <li><a href = "https://www.espn.com">Recipes</a></li>
        <li><a href = "https://www.yahoo.com">Shopping List</a></li>
      </ul>

      <ul class = "nav navbar-nav navbar-right">
        <li class = "dropdown">
          <a href = "#" class = "dropdown-toggle" role = "button">Dropdown Coming Soon<span class = "caret"></span></a>
          <ul class = dropdown-menu>  
            <li><a href = "https://www.google.com">Save Data</a></li> 
            <li><a href = "https://blog.codeanalogies.com/">Fetch Data</a></li> 
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>